{%  extends 'base.twig' %}

{%  block htmlHeadCss %}
    <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
    <link href='/css/test.css' rel='stylesheet' type='text/css'>
{%  endblock %}

{%  block htmlBodyContent %}
    {% include 'frontend/partials/navigation.twig' %}
    <main>
        <h1>Welcome to BoutiqueCommerce</h1>
        {% if notice %}
            <span class="{{ notice.1 }}">&raquo; {{ notice.0 }} &laquo;</span>
        {% endif %}
    </main>
{%  endblock %}