{%  extends 'base.twig' %}

{%  block htmlHeadCss %}
    <link href='/css/home.css' rel='stylesheet' type='text/css'>
{%  endblock %}

{%  block htmlBodyContent %}
    {% include 'frontend/partials/navigation.twig' %}
    <section class="main">
        <h1>Your requested page was not found.</h1>
    </section>
{%  endblock %}