<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{{ title }}</title>
    <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
    <link href='/css/test.css' rel='stylesheet' type='text/css'>
</head>
<body>
    {% include 'frontend/partials/navigation.twig' %}
    <div class="container">
    <section class="main">
        {% include 'frontend/partials/flash.twig' %}
        <h2>Content</h2>
        {% set form = form %}
        {% set field = form.field() %}
        {{ form.render() }}

        {%  block content %}{%  endblock %}

        <img src="http://demo.tutorialzine.com/2017/03/css-grid-vs-flexbox/demo/landscape.jpg">
    </section>

    <aside class="sidebar">
        <h3>Sidebar</h3>
    </aside>

    <footer>
        <h3>Footer</h3>
        <p>Copyright 2017. BoutiqueCommerce</p>
    </footer>
    </div>
</body>
</html>