{%  extends 'admin/partials/layout.twig' %}

{%  block content %}
    <section class="main">
        <h1>Sandbox</h1>
        <ul>
            <li>{{ test.user }}</li>
            <li>{{ test.check }}</li>
        </ul>
    </section>
{%  endblock %}