{%  extends 'admin/partials/layout.twig' %}

{%  block content %}
    <form action="{{ path_for('auth.signup') }}" method="post">
    	<label for="username">Name</label>
    	<input type="username" name="username" id="username" placeholder="username">
	   	<label for="password">Password</label>
    	<input type="password" name="password" id="password" placeholder="password">
    	<button type="submit">Sign Up</button>

    </form>
{%  endblock %}