{% extends 'base.twig' %}

{% block htmlHeadCss %}
    <link href='/css/login.css?v=1.1' rel='stylesheet' type='text/css'>
{% endblock %}

{% block htmlBodyContent %}
    {% include 'admin/partials/pageHeader.twig' %}
    <body onload='document.getElementById("name").focus();'>
    <main>
        <div id='mainContainerSmall'>
            <h1>{{ title }}</h1>
            <form name="f1" method="post" action="{{ path_for(formActionRoute, {'primaryKey': primaryKey})}}">
                {% if generalFormError %}
                    <span class="generalFormError">{{ generalFormError }}</span>
                {% endif %}
                {% include 'admin/partials/formFields.twig' %}
            </form>
        </div>
    </main>

{% endblock %}

{% block htmlBodyJs %}
    <script type='text/javascript' src='/js/uiHelper.js'></script>
{% endblock %}