{% extends "base.twig" %}

{% block htmlHeadCss %}
    <link href="/css/adminFlexSimple.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block htmlBodyContent %}

    {% include 'admin/partials/header.twig' %}

    <main>
        Welcome to the admin.
    </main>

    {% include 'admin/partials/footer.twig' %}

{% endblock %}

{% block htmlBodyJs %}
    <script type="text/javascript" src="/js/uiHelper.js"></script>
{% endblock %}