<!doctype html>
<html lang="en">
<head>
    {% include 'admin/partials/head.twig' %}
    <link rel='stylesheet' href='/css/cards.css' type='text/css'>
</head>
<body>
    <div class="container">
    {% include 'admin/partials/navigation.twig' %}

    <section class="main">
        <h2>Admin Content</h2>

        {%  block content %}{%  endblock %}
    </section>

    <aside class="sidebar">
        <h3>Sidebar</h3>
    </aside>

    <footer>
        <h3>Footer</h3>
        <p>Copyright 2017. BoutiqueCommerce</p>
    </footer>
    </div>
    <script type='text/javascript' src='/js/uiHelper.js'></script>
</body>
</html>