body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  background-color: #222;
  color: #dcd4c2;
  font-family: Courier;
  font-size: 1em;
  line-height: 1.4em;
}
a {
  color: #2ba6cb;
  text-decoration: none;
  padding: .1em;
}
a:hover {
  background-color: #9a9b9a;
  color: #0A246A;
}
main {
  flex: 1 0;
  overflow-y: auto;
  overflow-x: hidden;
  margin-left: 1em;
  margin-right: .5em;
  display: flex;
}
@media print {
  body {
    background-color: white;
    color: black;
  }
}

/* common styles */

/* the top <header> section */
#pageHeader {
  margin-bottom: .7em;
}

#pageTitle {
  font-size: 1.5em;
  margin-bottom: .5em;
}

#inlinePageTitle {
  font-size: 1.5em;
  margin: .3em 0;
  display: inline;
}

#pageSubtitle {
  margin: 0 .3em 1em;
}

.hidden {
  display: none;
}
.textAlignLeft {
  text-align: left;
}
.textAlignCenter {
  text-align: center;
}
.textAlignRight {
  text-align: right;
}
#secondaryNav {
  margin-bottom: .8em;
}
.secondaryNavOption {
  display: inline;
  margin: 1em;
  font-size: 1.2em;
}
.secondaryNavOptionActive {
  display: inline;
  margin: 1em;
  font-size: 1.2em;
  color: chartreuse;
  font-weight: bold;
}
#secondaryNavExplainer {
  width: 32em;
  margin-bottom: .8em;
  margin-left: 1em;
}
