$linkColor: #0B2E4A;
$linkBgColor: white;
#adminNavMain {
  width: 16em;
  display: none;
  background-color: #B6D850;
  height: 20em;
  overflow-x: hidden;
  overflow-y: auto;
  color: black;
}
#adminNavMain > ul {
  list-style-type: circle;
}

.showNavSubSection {
  display: inline;
}

.navItem {
  font-size: 1.2em;
  font-weight: bold;
  padding: .2em;
}
.navItem a {
  padding: .2em 0;
  color: $linkColor;
}
.navItem a:hover {
  background-color: $linkBgColor;
}

.subNavItem {
  font-size: 1em;
  font-weight: bold;
  margin-left: .8em;
}
.subNavItem a {
  padding: .2em 0;
  color: $linkColor;
}
.subNavItem a:hover {
  background-color: $linkBgColor;
}

.adminNavMainSubSection {
  display: none;
}
/*
#adminNavMain > ul > li {
  font-weight: bold;
  padding: .2em;
}
#adminNavMain > ul > li > a {
  padding: .2em 0;
  color: $linkColor;
}
#adminNavMain > ul > li > a:hover {
  background-color: $linkBgColor;
}
#adminNavMain > ul > li > ul > li {
  padding-left: .4em;
}
#adminNavMain > ul > li > ul > li > a {
  padding: .1em;
  color: $linkColor;
  font-size: 3em;
}
#adminNavMain > ul > li > ul > li > a:hover {
  background-color: $linkBgColor;
}
*/
