@import 'foundation';
@import 'header';
@import 'nav';
@import 'body-main';
@import 'forms';
@import 'scrollingTable';
main {
  display: block;
  overflow-x: auto;
}
th {
  text-align: left;
  padding: .3em;
}
td {
  padding: .2em;
}
tr {
  vertical-align: top;
}