@import 'foundation';
@import 'header';
@import 'nav';
@import 'body-main';
@import 'forms';

main {
  align-items: center;
  justify-content: center;
  overflow-x: auto;
}

#mainContainerSmall {
  //border: 1px dotted;
  padding: 3em;
  flex: none;
}

#mainContainerSmall > h1 {
  font-size: 1.5em;
}

#mainContainerSmall > h5 {
  margin-bottom: 2.5em;
  width: 18em;
}