* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    font: normal 16px sans-serif;
}

/* Page Layout */

.container{
    background-color: #fff;
    margin: 0 auto;
    padding: 0 0px;

    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
        "header header"
        "sidebar main"
        "footer footer";
    grid-gap: 20px;
}

/* Header */

header{
    grid-area: header;
    background-color: #4A148C;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

header nav {
    justify-self: start;

    list-style: none;

/*  This did not work well, inline-block used instead */
/*  display: grid;
    grid-template-columns: auto 1fr 1fr;
    align-items: end;*/
}

header nav li {
    font-size: 20px;
    margin: 20px;
    display: inline-block;
}

/* Main Section */

.main {
    grid-area: main;
    text-align: center;
}

.main h2 {
    font-size: 32px;
    margin-bottom: 15px;
}

.main img {
    width: 100%;
}

/* Sidebar */

.sidebar {
    grid-area: sidebar;

    border: 1px solid #a2a2a2;
    padding: 20px;
    margin-left: 20px;
}

/* Footer */

footer {
    grid-area: footer;
    background-color: #4A148C;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    color: #777;
    font-size: 12px;
    padding: 10px;
}


@media (max-width: 600px) {
    .container{
        /*  Redefine the grid into a single column layout. */
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "main"
            "sidebar"
            "footer";
    }
}