/* https://codepen.io/hubpork/pen/HsBnd */
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:700,300');
@import url('https://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css');

#adminNav .box {
  position: fixed;
  text-align: center;
  overflow: hidden;
  z-index: -1;
  opacity: 0;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: rgba(0,0,0,0.8);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#adminNav ul {
  position: relative;
  top: 20%;
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(2);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#adminNav li {
  display: inline-block;
  margin: 20px;
}

#adminNav li a {
  border-radius: 3px;
  padding: 15px;
  border: 1px solid transparent;
  text-decoration: none;
  font-size: 10px;
  color: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#adminNav li a:hover { border-color: #fff; }

#adminNav li a i {
  margin-right: 5px;
  font-size: 24px;
}

#toggle-nav-label {
  color: rgba(0,0,0,0.8);
  background: #999;
  text-align: center;
  line-height: 24px;
  font-size: 16px;
  display: block;
  cursor: pointer;
  position: relative;
  z-index: 500;
  width: 30px;
  height: 20px;
  border-radius: 3px;
}

#toggle-nav { display: none; }

#toggle-nav:checked ~ .box {
  opacity: 1;
  z-index: 400;
}

#toggle-nav:checked ~ .box ul {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

#toggle-nav:checked ~ #toggle-nav-label {
  background: #fff;
  color: rgba(0,0,0,0.8);
}