body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

main {
  flex: 1 0;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 1.5em 1em 1em 1.5em;
  display: flex;
}