@import 'foundation';
@import 'admin';
@import 'adminHeader';
@import 'adminFooterGrid';
@import 'forms';
@import 'layoutSimpleGrid';

main {
  width: 18em;
  grid-area: main;
  justify-self: center;
}

