*{
  margin:0;padding:0;box-sizing:border-box
}
a{
  color:inherit;text-decoration:none
}
body{
  font:normal 16px sans-serif
}
.container{
  background-color:#fff;margin:0 auto;padding:0;-ms-grid-columns:1fr 3fr;grid-template-columns:1fr 3fr;grid-template-areas:"header header" "sidebar main" "footer footer";grid-gap:20px
}
.container,header{
  display:-ms-grid;display:grid
}
header{
  grid-area:header;background-color:#4a148c;color:#fff;-ms-grid-columns:1fr 1fr;grid-template-columns:1fr 1fr
}
header nav{
  justify-self:start;list-style:none
}
header nav li{
  font-size:20px;margin:20px;display:inline-block
}
.main{
  grid-area:main;text-align:center
}
.main h2{
  font-size:32px;margin-bottom:15px
}
.main img{
  width:100%
}
.sidebar{
  grid-area:sidebar;border:1px solid #a2a2a2;padding:20px;margin-left:20px
}
footer{
  grid-area:footer;background-color:#4a148c;color:#fff;text-align:center;padding:20px 0
}
footer p{
  color:#777;font-size:12px;padding:10px
}
@media (max-width:600px){
  .container{
    -ms-grid-columns:1fr;grid-template-columns:1fr;grid-template-areas:"header" "main" "sidebar" "footer"
  }
}
.error {
  font-size: .9em;
}