<!DOCTYPE html>
<html lang='en'>
   <head>
      <meta charset='utf-8'>
      <meta name='robots' content='noindex, nofollow'>
      <meta name='viewport' content='width=device-width, initial-scale=1'>
      <title>::Admins</title>
      <link rel='stylesheet' href='/css/cards.css' type='text/css'>
   <body>
      <header id='pageHeader'>
         <div id='topLineContainer'>
            <div id='adminNavWrapper'>
               <div id='showNav'><a href='#' onclick='toggleNav();'>+ nav</a></div>
               <nav id='adminNavMain'>
                  <h3 class='navItem'><a href='/pR1v4taDm1ns1T3/orders/index.php'>Orders</a></h3>
                  <h3 class='navItem'><a href='/pR1v4taDm1ns1T3/designers/index.php'>Designers</a></h3>
                  <h3 class='navItem'>
                     <a href='/pR1v4taDm1ns1T3/ORM/index.php?t=testimonials'>Testimonials</a>
                     <div class='showNavSubSection' id='showNavSubSection3'> <a href='#' onclick='toggleNavSubSection("3")'>+</a></div>
                  </h3>
                  <div class='adminNavMainSubSection' id='adminNavMainSubSection3'>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/insert.php?t=testimonials'>insert</a></h3>
                  </div>
                  <h3 class='navItem'><a href='https://www.HelloBoutique.com/redmine/' target='_blank'>Projects</a></h3>
                  <h3 class='navItem'>
                     Reports
                     <div class='showNavSubSection' id='showNavSubSection5'> <a href='#' onclick='toggleNavSubSection("5")'>+</a></div>
                  </h3>
                  <div class='adminNavMainSubSection' id='adminNavMainSubSection5'>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/reports/BestCustomers.php'>Best Customers</a></h3>
                  </div>
                  <h3 class='navItem'><a href='/pR1v4taDm1ns1T3/admins/index.php'>Admin Users</a></h3>
                  <h3 class='navItem'>
                     ORM
                     <div class='showNavSubSection' id='showNavSubSection7'> <a href='#' onclick='toggleNavSubSection("7")'>+</a></div>
                  </h3>
                  <div class='adminNavMainSubSection' id='adminNavMainSubSection7'>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=accounts'>accounts</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=ad_codes'>ad_codes</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=admin_roles'>admin_roles</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=admins'>admins</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=cart_items'>cart_items</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=carts'>carts</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=category_search_aliases'>category_search_aliases</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=checking'>checking</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=checking_bofa'>checking_bofa</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=checkout_gcs'>checkout_gcs</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=checkouts'>checkouts</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=contact_authnet_payment_profiles'>contact_authnet_payment_profiles</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=contact_authnet_profiles'>contact_authnet_profiles</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=contact_requests'>contact_requests</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=contacts'>contacts</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=contacts_ml_removes'>contacts_ml_removes</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=contacts_postcards_sends'>contacts_postcards_sends</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=customer_appreciation'>customer_appreciation</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=designer_order_items'>designer_order_items</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=designer_order_item_status'>designer_order_item_status</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=designer_orders'>designer_orders</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=designer_search_aliases'>designer_search_aliases</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=email_contacts'>email_contacts</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=email_images'>email_images</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=email_outbox'>email_outbox</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=email_queue'>email_queue</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=emails'>emails</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=email_send_requests'>email_send_requests</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=emails_sent_xx'>emails_sent_xx</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=employees'>employees</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=general_journal'>general_journal</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=gift_certificates'>gift_certificates</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=gtd_someday_maybe'>gtd_someday_maybe</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=inventory_adjustments'>inventory_adjustments</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=inventory_ais_reports'>inventory_ais_reports</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=inventory_categories'>inventory_categories</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=inventory_cross_sell'>inventory_cross_sell</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=inventory_groupings'>inventory_groupings</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=inventory_item_breakdown'>inventory_item_breakdown</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=inventory_item_categories'>inventory_item_categories</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=inventory_item_colors'>inventory_item_colors</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=inventory_item_images'>inventory_item_images</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=inventory_items'>inventory_items</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=inventory_items_groupings'>inventory_items_groupings</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=inventory_items_popular'>inventory_items_popular</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=inventory_reports'>inventory_reports</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=inventory_seasons'>inventory_seasons</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=inventory_shipment_items'>inventory_shipment_items</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=inventory_shipments'>inventory_shipments</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=inventory_sizes'>inventory_sizes</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=inventory_size_scales'>inventory_size_scales</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=inventory_size_scale_sizes'>inventory_size_scale_sizes</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=invoices'>invoices</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=invoice_shipments'>invoice_shipments</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=licenses'>licenses</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=news'>news</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=news_images'>news_images</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=order_items'>order_items</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=order_item_status'>order_item_status</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=order_item_status_history'>order_item_status_history</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=order_return_items'>order_return_items</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=order_returns'>order_returns</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=orders'>orders</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=order_shipment_items'>order_shipment_items</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=order_shipments'>order_shipments</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=orders_transactions'>orders_transactions</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=orders_transactions_cc'>orders_transactions_cc</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=orders_transactions_deposit_items'>orders_transactions_deposit_items</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=orders_transactions_gc'>orders_transactions_gc</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=orders_transactions_items'>orders_transactions_items</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=orders_transactions_sc'>orders_transactions_sc</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=payment_failures'>payment_failures</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=payroll'>payroll</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=prices_changed_before_constraint'>prices_changed_before_constraint</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=promotions'>promotions</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=searches'>searches</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=shipping_methods'>shipping_methods</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=store_credits'>store_credits</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=submissions'>submissions</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=testimonials'>testimonials</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=tracker2'>tracker2</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=tracker2_view'>tracker2_view</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=tracker_browsers'>tracker_browsers</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=tracker_referers'>tracker_referers</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=tracker_web_pages'>tracker_web_pages</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=vendor_contacts'>vendor_contacts</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=vendor_designers'>vendor_designers</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=vendor_designers_factors'>vendor_designers_factors</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=vendor_designers_featured_images'>vendor_designers_featured_images</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=vendor_designers_representatives'>vendor_designers_representatives</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=vendor_factors'>vendor_factors</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=vendor_representatives'>vendor_representatives</a></h3>
                     <h3 class='subNavItem'><a href='/pR1v4taDm1ns1T3/ORM/?t=vendor_representatives_factors'>vendor_representatives_factors</a></h3>
                  </div>
               </nav>
            </div>
            <div id='headerTitle'>
               <h1>Hello Boutique Admin    &nbsp;<span style='color: grey;'>{LOCAL TESTING}</span></h1>
            </div>
            <div id='headerUser'>
               <h4 class='headerGreeting'>hello me [<a href='/pR1v4taDm1ns1T3/?logout'>logout</a>]</h4>
            </div>
         </div>
         <h1 id='adminPageHeading'>Admins</h1>
      </header>
      <main>
         <div id='results'>
            <div class='card'>me<br>owner<br><br><br><a href='pwUpdate.php?aid=1'>change pw</a></div>
         </div>
      </main>
      <script type='text/javascript' src='/js/uiHelper.js'></script>    <!--[if lt IE 9]>
      <script src="/js/html5shiv-printshiv.min.js"></script>
      <![endif]-->
   </body>
</html>

<!-- Login page HTML -->
<!DOCTYPE html>
<html lang='en'>
<head>
   <meta charset='utf-8'>
   <meta content='noindex, nofollow' name='robots'>
   <meta content='width=device-width, initial-scale=1' name='viewport'>
   <title>::Login</title>
   <link href='/css/login.css' rel='stylesheet' type='text/css'>
</head>
<body onload='document.getElementById("username").focus();'>
   <header id='pageHeader'>
      <div id='topLineContainer'>
         <div id='headerTitle'>
            <h1>Hello Boutique Admin &nbsp;<span style='color: grey;'>{LOCAL TESTING}</span></h1>
         </div>
      </div>
   </header>
   <main>
      <div id='mainContainerSmall'>
         <h1>Login</h1>
         <h5>Authorized Use By Hello Boutique Group, LLC employees and associates only.</h5>
         <form action='/pR1v4taDm1ns1T3/login.php?page=/pR1v4taDm1ns1T3/admins/index.php' method='post' novalidate='1'>
            <input name='failedAttempts' type='hidden' value='0'>
            <div class='ffFieldWrapper'>
               <label for='username'>Username</label><span class='ffFieldLabelFine'>required</span><input id='username' maxlength='40' name='username' required="" size='20'>
            </div>
            <div class='ffFieldWrapper'>
               <label for='password'>Password</label><span class='ffFieldLabelFine'>required</span><input id='password' maxlength='40' name='password' required="" size='20' type='password'>
            </div>
            <div class='ffFieldWrapper'>
               <input name='loginSubmit' type='submit' value=' e n t e r '>
            </div>
         </form>
      </div>
   </main>
   <script src='/js/uiHelper.js' type='text/javascript'>
   </script> <!--[if lt IE 9]>
        <script src="/js/html5shiv-printshiv.min.js"></script>
    <![endif]-->
</body>
</html>